*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    height: 79.2vh;
    width: 100%;
    background-color: black;
}

.details{
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
