.about_us {
    /* background-image: url(../../../Assets/Bg-AboutUs.png); */

    width: 100%;
    height: 100%;
    background-color: black;
    /* background-size: cover; */
    /* background-position: center; */
    padding: 5rem;
    background-repeat: no-repeat;
    object-fit: cover;


}

  
  .card-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Adjust spacing between rows */
  }
  
  .card1 {
    cursor: pointer;
    width: 150px;
    height: 100px; /* Fixed height */
    margin: 8px; 
    background-color: black;
    border: 2px solid #495057;
    color: #495057;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: transform 0.5s ease; /* Add transition property for smooth rotation */
    overflow: hidden; /* Hide overflow content */
}

  
  .card1:hover {
    border: 3px solid #019EC3;
    border-color: #019EC3;
    transform: rotate(10deg); /* Rotate the card 360 degrees when hovered */
  }
  

  .card10 {
    cursor: pointer;
    width: 150px;
    height: 100px;
    margin: 8px; 
    background-color: black;
    border: 2px solid #019EC3;
    color: #495057;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: transform 0.5s ease; /* Add transition property for smooth rotation */
  }
  
  .card10:hover {
    border: 5px solid #019EC3;
    border-color: #019EC3;
    transform: rotate(10deg); /* Rotate the card 360 degrees when hovered */
  }

.header_aboutUs {
    display: flex;
    align-items: center;
    height: 15%;
}

.about_us h1 {
    color: white;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}

.about_us h1:hover {
    color: #019EC3;

}


.body_aboutUs {
    display: flex;
    justify-content: space-around;
    height: 63%;
    
}

.footer_aboutUs {
    display: flex;
    justify-content: space-around;
    height: 22%;
    margin-top: 2rem;
}

.body_aboutUs p {
    padding: 1rem;
    font-size: 20px;
    line-height: 30px;
    font-weight: bolder;
    margin-left: 50px;
    color: white;
}

.body_aboutUs img {
    border-radius: 50%;
}

.body_aboutUsclg {
    display: flex;
    justify-content: space-around;
    height: 63%;
}
.body_aboutUsclg p {
    padding: 1rem;
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-weight: bolder;
    margin-left: 50px;
}

.body_aboutUsclg img {
    border-radius: 10%;
    border: 3px solid #019EC3;
}

img[src="https://i.postimg.cc/jSZQj1y9/Image-4-1.png"] {
    width: 439px;
    height: 417px;
}

img[src="https://i.postimg.cc/2SWpn4SC/1-CS-1.png"] {
    width: 220px;
    height: 93px;
}

img[src="https://i.postimg.cc/sxZFKS4P/2-PES-1.png"] {
    width: 206px;
    height: 128px;
}

img[src="https://i.postimg.cc/nLZDJGsz/3-RAS-1.png"] {
    width: 215px;
    height: 111px;
}

img[src="https://i.postimg.cc/HnfrPwDT/4-WIE-1.png"] {
    width: 206px;
    height: 139.35px;
}

@media (max-width: 768px) {
    .body_aboutUs {
        display: flex;
        flex-wrap: wrap;
    }

    .footer_aboutUs {
        display: flex;
        flex-wrap: wrap;
    }

    .footer_aboutUs img {
        width: 50%;
        box-sizing: border-box;

    }

    img[src="https://i.postimg.cc/jSZQj1y9/Image-4-1.png"] {
        width: 20rem;
        height: 20rem;
    }
}