/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.eventsList {

    background-attachment: fixed;
    background-image: url(../../../Assets/eventBack.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
}

.eventsList h1 {
    color: white;
    padding-left: 3%;
    padding-bottom: 5%;
}
