.navbar-custom {
    background-color: whitesmoke;
    height: 90px; 
}

.navbar-custom .navbar-nav {
    width: 100%;
    justify-content: space-evenly; 
 
}

.navbar-custom .navbar-nav .nav-link {
    color: #1f4267; 
    font-weight: 600;
    font-style: sans-serif;
    padding-top: 20px;
}

.navbar-custom .navbar-brand img {
    max-height: 60px; 
}
