.Main {
    background-image: url(../../../Assets/Bg-Main.png);
    height: 100vh;
    width:100vw;
    background-size: cover;
    background-position: center;
    background-color: #6B6060;
    background-blend-mode: multiply;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.logo_text {
    font-size: 22px;
}

.Main_text {
    font-weight: normal;
    font-size: 20px;
}

.IEEE_logo {
    height: 100px;
}

._content {
    margin: 5em 0 0 3em;
    text-align: left;
    width: 400px;
}

/* login button */

.login_button_container{
    position: absolute; 
    right:2rem;;
    top:7rem;
}

.login_button{
    border:2px solid rgb(32, 187, 32);
    padding:0.5rem 1rem ;
    border-radius: 0.5rem;
    background-color: #4b5e71;
    color: white;
    transition: all 0.3s ease-in;
}

.login_button:hover{
    background-color: rgb(63, 238, 63);
    color:black;
}